<div class="container">
             <div class="row photogrid">
                <ul>
                <% photos.forEach(function(photos) {%>
                    <li>
                    <div class="col-md-3 pgrid">
                        <div class="thumbnail">
                        <a href="/<%= photos._id%>">
                        <img class="img-responsive" src="http://s3-us-west-2.amazonaws.com/photobomb1/<%= photos.filename %>" alt=""></a>
                                     <div class="caption">
         <button type="button" class="btn btn-default btn-sm"> Upvote <span class="glyphicon glyphicon-heart"> <%=photos.votes %>  </span></button> 
                                    </div>
                        <div>
                    </div>
                        </li>
                              <% }) %>
                </ul>
             </div>
            
</div>